.current-projects {
    margin-top: 2em;
}

.current-projects .project {
    margin-left: 2em;
    padding-top: 16px;
    padding-bottom: 0;
}

.current-projects .project a:hover {
    text-decoration: none;
}

.current-projects .project .heading {
    display: block;
    margin-top: 8px;
    font-size: 150%;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.current-projects .project .caption {
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
}

.current-projects .project {
    width: 20%;
    height: auto;
}

.current-projects .project img {
    max-width: 100%;
    border-radius: 16px;
}

.current-projects .project p {
    padding: 12px 12px 0 12px;
    text-shadow: none;
}

#papers {
    display: none;
    margin-left: 2em;
    width: 100%;
    height: 600px;
    border: solid 1px;

}

#author-popout {
    margin-left: 2em;
}