html, body {
text-align: center;
}
p {text-align: center;
padding:10px;}

body {
	margin: 0;
	padding: 0;
	text-align: left;
    font-family: Arial;
	font-size: 14px;
	color: #444444;
    background-color:#FFFFFF;
    background-image:url(universe.jpg);

}
*
{
  margin: 0 auto 0 auto;
 text-align:center;}


html, body {
text-align: center;
}
p {text-align: left;}
img {text-align: center;}

.dotted_line
{
background-image:url(dotted_line.png);
background-repeat:no-repeat;
clear:both;
width:900px;
height:5px;
float:left;
margin:5px;
}



#header
{
background-image:url(header.png);
background-repeat:repeat-y;
width:1000px;

}


#header h1
{
display:block;
float:right;
margin-left:17px;
color:#FFFFFF;
text-align:left;
font-size:28px;
font-weight:bold;
font-family:Arial;
padding:0px;


}


#header ul {
display:block;
	padding: 0px;
	list-style-type: none;
	overflow:hidden;
	width:700px;
	float:left;
    background-color:#FFFFEE;

}
#header ul li{
float:left;
	margin: 0px;
	text-align:center;
	line-height:40px;
	color:#888888;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	padding-left:00px;
	padding-right:00px;
}
#header ul li a, #header ul li a:visited{
	float:left;
	margin: 0px;
	text-align:center;
	line-height:40px;
	font-size:16px;
    color:#888888;
	font-weight:bold;
	text-decoration:none;
	padding-left:20px;
	padding-right:20px;
}

#header ul li a:hover{
color:#FFFFFF;
background-color:#888888;

}
#header ul li img{
padding-left:20px;

}


.main_body
{
float:left;
width:900px;
height:400px;
margin-top:5 px;
margin-bottom:5px;
background-color:#FFFFEE;
display: ;  
}


#main .main_left
{
width:350px;
height:auto;
background-color:#000000;
background-repeat:no-repeat;
padding-right:20px;
text-align:left;
margin-bottom:15px;
float:left;
}

#main .main_left h1
{
padding-top:20px;
padding-left:20px;
color:#444444;
font-size:28px;
}
#main .main_left img
{
    padding-top:20px;
    padding-left:20px;
}
#main .main_left h2
{
padding-top:20px;
padding-left:20px;
color:#444444;
font-size:18px;
}

#main .main_left h3
{
padding-bottom:20px;
padding-left:20px;
color:#444444;
font-size:15px;
}



#main .main_right_vis
{
padding-left:10px;
height:auto;
width:650px;
background-image:url(main_body.png);
background-repeat:repeat-y;
color:#FFFFFF;
padding-bottom:20px;
float:left;
display: ;
}

.hide
{
display: none;
}


#main .main_right_vis h2
{
font:Verdana, Arial, Helvetica, sans-serif;
font-size:24px;
padding-bottom:15px;
}

#main .main_right_vis p
{
line-height:20px;
}






#page
{
  margin: 0 auto 0 auto; 
  margin-top:35px;
  display: block; 
  height:auto;
  position: relative; 
  overflow: hidden; 
  width: 1000px;
}





#footer {
display:block;
width: 1000px;
height:200px;
background: url(footer.png) no-repeat;
text-align:left;
font-size:18px;
clear:left;
line-height:15px;
}

#footer p{
margin:0px;
padding-right:00px;
text-align:left;
width: 500px;
background-color:#FFFFFF;
	 
color: blue;
}
#footer img{
text-align:left;

}
#footer, #footer a, #footer a:visited{
font-size:12px;
}

#footer a:hover{
text-decoration:none;
color:#C9E1FA;
}

